.dropdown-content {
    position: absolute;
    background-color: #6a006a; /* Purple shade */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 160px; /* Set width to desired value */
    display: none;
}

.dropdown-content button {
    color: white; /* Text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: 2px solid #480048; /* Darker purple border */
    border-radius: 5px;
    margin: 5px 0; /* Add margin to create space between buttons */
    text-align: left;
    cursor: pointer;
    width: 100%;
}
